@font-face {
  font-family: 'Bariol';
  src: url('../fonts/Bariol_Regular.otf');
}
body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	background-color: #FA6900;
	color: #404040;
	font-family: Bariol;
	margin:0;
	padding:0px;
	width: 300px;
	overflow: hidden;
	height: 100px;
}
#icon {
	margin: auto;
	margin-top: 5%;
	width: 50px;
}
select {
   background: #333;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 1px solid #ccc;
   border-radius: 4px;
   min-height: 20px;
   width: 100%;
   margin-bottom: 3%;
   -webkit-appearance: none;
   font-family: Bariol;
   color: #fff;
}
div {
	font-family: Bariol;
}
img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    user-select: none;
    border: none;
    outline: none;
}
a {
    outline: none;
}
li {
	width: 92%;
	list-style-type: none;
	font-size: 20px;
	color: #69D2E7;
	font-family: Bariol;
	padding: 2%;
	border-radius: 4px;
}
li:hover {
	background-color: #69D2E7;
	color: #fff;
	cursor:pointer;
}
#iconImage {

}
#dropDownForm:hover {
	cursor: pointer;
}
#dropDownList:hover {
	cursor: pointer;
}
#content {
	width: 90%;
	margin: 5% 5%;
	background-color: #fff;
	border-radius: 5px;
	padding: 4% 0;
	min-height: 283px;
	max-height: 283px;
	overflow-y:auto;
	overflow-x:hidden;
}
#content::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
    background-color: #69D2E7;
}
#createRecipeForm {
	margin: 2%;
}
#recipeList {
	margin: 2%;
}
#createRecipeText {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	display:inline-block;
	vertical-align:top;
	margin-top: 1%;
	font-size: 25px;
	color:#F38630;
}
#recipeListText {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	display:inline-block;
	vertical-align:top;
	margin-top: 1%;
	font-size: 25px;
	color:#F38630;
}
#createRecipeText:hover, #recipeListText:hover {
	color: #69D2E7;
}
#createRecipe {
	display: none;
	width: 254px;
}
#recipes {
	width: 254px;
	overflow: hidden;
	position: relative;
	display: none;
	padding-left: 2%;
	margin: 2% 1%;
}
#name, #layout {
	border-radius: 2px;
	outline: none;
	border:none;
	font-size: 15px;
	color: #333;
	padding: 2%;
	width: 90%;
	margin-left: 1%;
}
#name:focus, #layout:focus {
	border: 1px solid #ccc;
}
#layout {
	min-height: 50px;
	resize: none;
}
#services {
	color: #F38630;
	margin: 2%;
	font-size: 25px;
	padding: 2% 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 244px;
}
#services input[type="text"]{
	border-radius: 5px;
	outline: none;
	border:none;
	font-size: 15px;
	color: #333;
	padding: 2%;
	width: 95%;
	border: 1px solid #ccc;
}
#addService {
	margin-bottom: 1%;
}
#addService:hover {
	cursor: pointer;
	color: #69D2E7;
}
.service {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 2%;
}
.service:hover {
	cursor: pointer;
	border: 1px solid #F38630;
}
#servicesList {
	display: none;
	overflow: hidden;
	position: relative;
	padding: 1% 0;
}
.serviceInserted {
	color: #69D2E7;
}
.serviceInserted:hover {
	color: #B33A3A;
	text-decoration:line-through;
	cursor: pointer;
}
#createButton {
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #F38630;
	padding: 5px;
	border-radius: 5px;
	color: #F38630;
	font-size: 20px;
	margin: 2%;
	user-select: none;
	outline:none;
}
#createButton:hover {
	background-color: #fff;
	color: #69D2E7;
	border: 1px solid #69D2E7;
	cursor: pointer;
}
#deleteButton {
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #F38630;
	padding: 3px;
	border-radius: 5px;
	color: #F38630;
	font-size: 14px;
	user-select: none;
	outline:none;
	margin-top: 4%;
}
#deleteButton:hover {
	background-color: #fff;
	color: #69D2E7;
	border: 1px solid #69D2E7;
	cursor: pointer;
}
#footer {
	color: #fff;
	font-size: 12px;
	text-align: center;
	margin-bottom: 5%;
}