@font-face {
  font-family: 'Bariol';
  src: url('../fonts/Bariol_Regular.otf');
}
body {
	background-color: #FA6900;
	color: #404040;
	font-family: Bariol;
	margin:0;
	padding:0px;
	width:300px;
	overflow: hidden;
	height: 100px;
}
#icon {
	margin: auto;
	margin-top: 5%;
	width: 50px;
}
div {
	font-family: Bariol;
}
img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    user-select: none;
    border: none;
    outline: none;
}
a {
    outline: none;
}
#iconImage {

}
#dropDownForm:hover {
	cursor: pointer;
}
#dropDownList:hover {
	cursor: pointer;
}
#content {
	width: 90%;
	margin: 5% 5%;
	background-color: #fff;
	border-radius: 5px;
	padding: 4% 0;
	min-height: 275px;
	max-height: 275px;
	overflow-y:auto;
	overflow-x:hidden;
}
#content::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
}
 
::-webkit-scrollbar-thumb {
	border-radius: 5px;
    background-color: #69D2E7;
}
#createRecipeForm {
	margin: 2%;
}
#recipeList {
	margin: 2%;
}
#createRecipeText {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	display:inline-block;
	vertical-align:top;
	font-size: 30px;
	color:#F38630;
}
#recipeListText {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	display:inline-block;
	vertical-align:top;
	font-size: 30px;
	color:#F38630;
}
#createRecipeText:hover, #recipeListText:hover {
	opacity: .7;
}
#createRecipe {
	display: none;
	width: 254px;
}
#recipes {
	width: 254px;
	overflow: hidden;
	position: relative;
	display: none;
	padding-left: 2%;
}
#name, #layout {
	border-radius: 2px;
	outline: none;
	border:none;
	font-size: 15px;
	color: #333;
	padding: 2%;
	width: 200px;
	margin-left: 1%;
}
#name:focus, #layout:focus {
	border: 1px solid #ccc;
}
#layout {
	min-height: 50px;
	resize: none;
}
#services {
	color: #F38630;
	margin: 2%;
	font-size: 25px;
	padding: 2% 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 244px;
}
#addService {

}
#addService:hover {
	cursor: pointer;
	opacity: .7;
}
.service {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #fff;
	text-align: center;
	border-radius: 5px;
	padding: 2%;
}
.service:hover {
	cursor: pointer;
	border: 1px solid #F38630;
}
#servicesList {
	display: none;
	overflow: hidden;
	position: relative;
	padding: 1% 0;
}
#footer {
	color: #fff;
	font-size: 12px;
	text-align: center;
	margin-bottom: 5%;
}